body{
    background-image: linear-gradient(to right,rgb(185,68,172),rgb(228,67,160));
}

.form-container{
    background-color: white;
    width:40vw;
    height:70vh;
    border-radius: 10px;
    position: relative;
    left:30vw;
}

h1{
    position: relative;
    top:5vh;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-buttons{
    position: relative;
    left: 10%;
    top: 5vh;
    /* border: 2px;
    border-color: black;
    border-style: solid; */
    width: 80%;
    height:10vh;

    display: flex;
    justify-content: center;
    border:solid;
    border-color: black;
    border-width:2px;
    border-radius: 10px;
}

#login-button,#signup-button{
    position: relative;
    width: 50%;
    background-color: white;  
    font-size:larger;
    font-weight: bold;  
    border: none;
    
}

#login-button{
    color:white;
    background-image: linear-gradient(to right,rgb(185,68,172),rgb(228,67,160));
    border-radius: 8px 0 0 8px;
}

#login-button:hover{
    color:black;
    background-color: white;
    background-image: none;
    font-size:x-large;
}

#signup-button{
    border-radius: 0 8px 8px 0;
}