body{
    background-image: linear-gradient(to right,rgb(185,68,172),rgb(228,67,160));
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-container{
    background-color: white;
    width:40vw;
    height:70vh;
    border-radius: 10px;
    position: relative;
    left:30vw;
}

h1{
    position: relative;
    top:5vh;
    text-align: center;
}

.login-buttons{
    position: relative;
    left: 10%;
    top: 5vh;
    /* border: 2px;
    border-color: black;
    border-style: solid; */
    width: 80%;
    height:7vh;

    display: flex;
    justify-content: center;
    border:solid;
    border-color: black;
    border-width:2px;
    border-radius: 10px;
}

#login-button,#signup-button{
    position: relative;
    width: 50%;
    background-color: white;  
    font-size:larger;
    font-weight: bold;  
    border: none;
    
}

#login-button{
    color:white;
    background-image: linear-gradient(to right,rgb(185,68,172),rgb(228,67,160));
    border-radius: 8px 0 0 8px;
}

#login-button:hover{
    color:black;
    background-color: white;
    background-image: none;
    font-size:x-large;
}

#signup-button{
    border-radius: 0 8px 8px 0;
}

.input-container{
    position: relative;
    left: 10%;
    right:10%;
    width:80%;
    height:30%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#email-input,#password-input{
    
    width: 100%;
    height: 5vh;
    text-indent: 1vw;
    border: solid 2px whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 0 0;
    font-size: medium;
}

#email-input:hover,#password-input:hover{
    box-shadow:5px 5px;
}

.forgot-password-container{
    position: relative;
    top:10vh;
    left:10%;
}
.forgot-password{
    color:rgb(204,67,164);
}

.login-submit-container{
    position: relative;
    top:10vh;
    left:10%;
    width:80%;
}

#login-submit{
    width:100%;
    color:white;
    background-image: linear-gradient(to right,rgb(185,68,172),rgb(228,67,160));
    border-radius: 8px 8px;  
    margin-top: 2vh;
    height:8vh; 
    border: none;
    font-size:larger;
    font-weight: bold;
}